.page.theme_dark {
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background-primary: #000028;
        --color-background-accent: #FF0070;

        --color-text-primary: #F1B2CE;
        --color-text-primary-contrast: #FF0070;
        --color-text-accent: #000028;

        --color-border-primary: #FF0070;

        --color-title-level-1: #DB00FF;
        --color-shadow-title-level-1: #FF0070;
    }
}
