/* Основные стили, светлая тема */
.page {
    background: var(--background-image-page) center / cover no-repeat;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    gap: var(--space-xl)
}

.header {
    position: relative;

    display: grid;
    grid-template-rows: repeat(3, minmax(0, 1fr));

    block-size: 100vh;
    min-block-size: 668px;

    padding-block: 18px;
}

.header__theme-menu {
    justify-self: end;
    align-self: center;
}

.header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
}

.header__theme-menu-button {
    display: flex;
    align-items: center;
    justify-content: center;

    block-size: 26px;
    inline-size: 70px;

    font-size: 18px;
    line-height: 1;

    color: var(--color-button-text);
    border: 1px solid transparent;

    transition: border-color 0.3s ease;
}

/* На десктопах стилизуем ховер */
@media (hover: hover) {
    .header__theme-menu-button:not(:disabled):hover {
        cursor: pointer;
        border-color: var(--color-button-border-alpha-40);
    }
}

/* На мобилках ховер может залипать, поэтому стилизуем active */
@media (hover: none) {
    .header__theme-menu-button:not(:disabled):hover {
        border-color: var(--color-button-border-alpha-40);
    }
}

.header__theme-menu-button_active {
    pointer-events: none;
    border-color: var(--color-button-border);
}

.header__theme-menu-button:focus-visible {
    outline: none;
    border-color:
        transparent
        transparent
        var(--color-button-border)
        transparent;
}

.header__title {
    justify-self: start;
    align-self: center;

    color: var(--color-title-level-1);
}

.header__intro {
    justify-self: end;
    align-self: center;
}

.header__intro-item {
    display: block;
}

.header__record {
    position: absolute;
    inset-block-start: var(--space-xs);
    inset-inline-end: var(--space-content-side);

    padding-inline-end: 28px;

    color: var(--color-accent);

    display: none;
    align-items: center;
}

.header__record::after {
    content: "";
    position: absolute;
    inset-inline-end: 9px;
    inset-block-start: 50%;
    transform: translate(0, -50%);

    inline-size: 9px;
    block-size: 9px;
    border-radius: var(--border-radius-cicle);

    background-color: var(--color-accent);
    box-shadow: 0 0 4px 2px var(--color-accent);
}

.main {
    display: flex;
    flex-direction: column;
    gap: var(--space-xxl);
}

.factors {
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
}

.factors__list {
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
}

.images {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
}

.images__list {
    display: grid;
    grid-template: none;
    gap: var(--space-xs);
}

.images__list-item {
    display: block;
    width: 100%;

    object-fit: cover;
    object-position: center;
}

.footer {
    position: relative;
    block-size: 100vh;
    min-block-size: 668px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--color-title-level-1);
}

@media (width >= 768px) {
    .page {
        gap: var(--space-xxxl);
    }

    .header {
        padding-block: 106px;
    }

    .header__title {
        margin-inline-start: calc(0px - var(--space-content-side));
    }

    .header__intro {
        inline-size: 100%;
        max-inline-size: 364px;
    }

    .header__record {
        inset-block-start: var(--space-s);
    }

    .main {
        gap: var(--space-xxxxxl);
    }

    .factors__title {
        inline-size: 100%;
        max-inline-size: 236px;
    }

    .images {
        gap: var(--space-s);
    }

    .images__list {
        gap: var(--space-s);
        grid-template-rows: 24.6% 29.5% 40.8%;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-template-areas:
            "a a b"
            "c d b"
            "c e e";
    }

    .images__list-item {
        height: 100%;
    }

    .images__list-item:nth-child(1) {
        grid-area: a;
    }

    .images__list-item:nth-child(2) {
        grid-area: b;
    }

    .images__list-item:nth-child(3) {
        grid-area: c;
    }

    .images__list-item:nth-child(4) {
        grid-area: d;
    }

    .images__list-item:nth-child(5) {
        grid-area: e;
    }
}

@media (width >= 1024px) {
    .header {
        padding-block-start: var(--space-s);
        padding-block-end: 55px;
    }

    .header__theme-menu {
        justify-self: center;
        align-self: start;
    }

    .header__theme-menu-list {
        display: flex;
        flex-direction: row;
        gap: var(--space-xs);
    }

    .header__title {
        margin-block-start: 40px;
    }

    .header__intro {
        inline-size: 100%;
        max-inline-size: 491px;
    }

    .factors__title {
        inline-size: 100%;
        max-inline-size: 315px;
    }

    .factors__list {
        flex-direction: row;
    }

    .factors__list-item {
        flex: 1 1 0;
    }

    .images__list {
        height: 1048px;

        /* Между вторым и третьим рядами
           нестандартный отступ на 5px больше
           обычного, поэтому костылим отступы между
           рядами через ряды-заглушки */
        grid-row-gap: 0;
        grid-column-gap: var(--space-s);
        grid-template-rows: 24.6% var(--space-s) 29.9% 25px 41%;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-template-areas:
            "a a b"
            ". . b"
            "c d b"
            "c . ."
            "c e e";
    }

    .images__list-item:nth-child(3) {
        /*margin-block-start: var(--space-xs);*/
    }
}
