:root {
    /* Переменные светлой темы */
    --color-background-primary: #FFF1F7;
    --color-background-accent: #FF8DCB;

    --color-text-primary: #353430;
    --color-text-primary-contrast: #353430;
    --color-text-accent: #353430;

    --color-border-primary: #353430;

    --color-title-level-1: #FFC2E6;
    --color-shadow-title-level-1: #FF8DCB;

    /* Общие переменные */
    --space-xxxxxl: 80px;
    --space-xxxl: 60px;
    --space-xxl: 50px;
    --space-xl: 40px;
    --space-s: 20px;
    --space-xs: 10px;
}
