:root {
    /* Общие переменные */
    --space-xxxxxl: 80px;
    --space-xxxl: 60px;
    --space-xxl: 50px;
    --space-xl: 40px;
    --space-s: 20px;
    --space-xs: 10px;

    /* Отступы по бокам страницы */
    --space-content-side: 10px;

    --border-radius-cicle: 50%;
}


@media (width >= 768px) {
    :root {
        --space-content-side: 20px;
    }
}
